@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.text-primary {
  color: #414141;
}

.text-secondary {
  color: #6b6b6b;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #2395ff;
}

.bg-blue {
  background-color: #2395ff;
}
